
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>process</title>
</head>
<body>
    <div> 
        <h1>signin successful..</h1>
        <h2>@ViewBag.name</h2>
    </div>
</body>
</html>
